body {
  font-family: "Roboto", sans-serif;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: #fff;
  background: linear-gradient(to right, rgb(238, 156, 167), rgb(255, 221, 225));
}
